
//@theme "/home/magnetist/.config/rofi/themes/rounded-nord-dark.rasi"

//@theme "/home/magnetist/.config/rofi/themes/rounded-gray-dark.rasi"

//@theme "/usr/share/rofi/themes/iggy.rasi"

//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

@theme "/usr/share/rofi/themes/Arc.rasi"
